*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.app{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #264653;
}
.box{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#input{
    width: 500px;
    height: 30px;
    margin-right: 20px;
    border: none;
    outline: none;
    border: 1px solid grey;
    padding-left: 10px;
    margin-bottom: 15px;
}
.addbtn{
    height: 35px;
    width: 60px;
    border: none;
    background-color: #f4a261;
    cursor: pointer;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    margin-bottom: 20px;
}
li{
    list-style-type: none;
    color: white;
    font-size: 20px;
}

.li-btns button:first-child{
    margin-right: 30px;
}
.li-btns button{
    height: 40px;
    width: 93.81px;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 622px){
    .inpbutt{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    #input{
        width: 360px;
    }
    ul{
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
}

@media screen and (max-width: 414px){
    #input{
        width: 300px;
    }
    ul{
        width: 318px;
    }
}